@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Funwarbook</h1>
    <p class="lead"> is a Social Network for gamer! Gamer who search Clans and Friends to play.Further it will be a Clan social networking to plan funwars</p>
</div>

<div class="row">
  
</div>